<div class="widget-lbg margin-20px-tb">
    <a href="#" class="title-box right"><span class="left title">About Us</span><span class="right icon icon-comment"><span class="slant-right"></span></span>
    </a>

    <nav class="nav">
      <ul>
        <li><a href="{{url('about/mahabodhi-international-meditation-centre')}}">Mahabodhi Residential School</a></li>
        <li><a href="{{url('about/about')}}">About Us</a></li>
        <li><a href="{{url('about/motto')}}">Motto</a></li>
        <li><a href="{{url('about/admissions')}}">Admission</a></li>
      </ul>
    </nav>

    
    <br>

  </div>