<div class="widget-lbg margin-20px-tb">
    <a href="#" class="title-box right"><span class="left title">Contact Us</span><span class="right icon icon-comment"><span class="slant-right"></span></span>
    </a>
    <nav class="nav">
      <ul>
        <li><a href="{{url('contact/founder')}}">Founder</a></li>
        <li><a href="{{url('contact/gen-secretary')}}">Gen, Secretary</a></li>
        <li><a href="{{url('contact/mimc-project')}}">MIMC Project</a></li>
        <li><a href="{{url('contact/sponsorship')}}">Sponsorship</a></li>
        <li><a href="{{url('contact/global-family-resort')}}">Global Family Resort</a></li>
        <li><a href="{{url('contact/meditation-programme')}}">Meditation Programme</a></li>
      </ul>
    </nav>
  </div>