<div class="widget-lbg margin-20px-tb">
    <a href="#" class="title-box right"><span class="left title">Useful Links</span><span class="right icon icon-comment"><span class="slant-right"></span></span>
    </a>
    <nav class="nav">
      <ul>
        <li><a href="{{url('classroom')}}">Classroom</a></li>
        <li><a href="{{url('Moral and Spiritual Training')}}">Moral and Spiritual Training</a></li>
        <li><a href="{{url('School hall')}}">School hall</a></li>
        <li><a href="{{url('ven-bhikkhu-sanghasena/previous-positions')}}">Previous Positions</a></li>
        <li><a href="{{url('Lunch/dining hall')}}">Lunch/Dining Hall</a></li>
      </ul>
    </nav>
  </div>

